<!DOCTYPE HTML>
<html lang="en" dir="ltr">
<HEAD>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'sortingCans/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'js/app.js'%}">
</HEAD>
<body style="background-color: #86CD99">

  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Can kids recycle?</span>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>
  {% load static %} <img src="{% static "banana.png" %}" alt="Hi!" width="150" height="150" draggable="true" />

  <div class="container bottom" style="position: fixed; bottom: 0; display: flex; text-align: center; justify-content: center; ">
    <div class="row">
      <div class="col-sm">
              {% load static %} <img src="{% static "recycling-bin.png" %}" alt="Hi!" width="250" height="250" />
      </div>
      <div class="col-sm">
            {% load static %} <img src="{% static "recycling-bin.png" %}" alt="Hi!" width="250" height="250"/>
      </div>
      <div class="col-sm">
            {% load static %} <img src="{% static "recycling-bin.png" %}" alt="Hi!" width="250" height="250"/>
      </div>
    </div>
  </div>

</body>
</html>
